


.hictech_logo{
    background-image:url('img/hictech_logo.png');
    background-repeat:no-repeat;
    margin:0px auto;
    width:158px;
    height:50px;
    background-size:158px 50px;
}





@-webkit-keyframes compress {
    0% {height: 3000px;}
    100% {height: 400px;}
}

@-moz-keyframes compress {
    0% {height: 3000px;}
    100% {height: 400px;}
}

@keyframes compress {
    0% {height: 3000px;}
    100% {height: 400px;}
}

.footer{
    position:relative;
}












@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(fonts/kcf5uOXucLcbFOydGU24WALUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(fonts/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local('Lato Light Italic'), local('Lato-LightItalic'), url(fonts/2HG_tEPiQ4Z6795cGfdivLO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(fonts/HkF_qI1x_noxlxhrhMQYELO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}







    





: : -webkit-scrollbar {
    width: 6px;
    height: 6px
}
/* Track */

: : -webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
/* Handle */

: : -webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    cursor: pointer
}
: : -webkit-scrollbar-thumb: window-inactive {
    background: rgba(0, 0, 0, 0.2);
}
div .tabular {
    display: table;
    width: 100%;
    height: 100%
}
div .tabular-row {
    display: table-row;
}
div .tabular-cell {
    display: table-cell;
    position: relative
}