
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {




.devices_container{
    -webkit-transform: scale(0.65);
    /* Chrome, Opera 15+, Safari 3.1+  */
    -ms-transform: scale(0.65);
    /* IE 9 */
    transform: scale(0.65);
    /* Firefox 16+, IE 10+, Opera */
}




    .devices {
        margin-top: -30px;
        width: 285px;
        height: 135px;
        background-size: 500px 500px;
        background-position: -18px -313px;
        -webkit-animation: fine 0.6s ease-in-out;
        -moz-animation: fine 0.6s ease-in-out;
        animation: fine 0.6s ease-in-out;

    }




    /* PRIMA *//* PRIMA *//* PRIMA *//* PRIMA *//* PRIMA *//* PRIMA *//* PRIMA *//* PRIMA *//* PRIMA */
    .bg_anim_prima {
        margin-top: -30px;
        width: 285px;
        height: 135px;
        background-size: 500px 500px;
        background-position: -18px -313px;
        -webkit-animation: fine 0.6s ease-in-out;
        -moz-animation: fine 0.6s ease-in-out;
        animation: fine 0.6s ease-in-out;
    }





    /* SECONDA *//* SECONDA *//* SECONDA *//* SECONDA *//* SECONDA *//* SECONDA *//* SECONDA *//* SECONDA */
    .bg_anim_seconda {
        margin-top: -30px;
        width: 285px;
        height: 135px;
        background-size: 500px 500px;
        background-position: -18px -313px;
        -webkit-animation: fine 0.6s ease-in-out;
        -moz-animation: fine 0.6s ease-in-out;
        animation: fine 0.6s ease-in-out;
    }



    /* TERZA *//* TERZA *//* TERZA *//* TERZA *//* TERZA *//* TERZA *//* TERZA *//* TERZA */
    .bg_anim_terza {
        margin-top: -30px;
        width: 285px;
        height: 135px;
        background-size: 500px 500px;
        background-position: -18px -313px;
        -webkit-animation: fine 0.6s ease-in-out;
        -moz-animation: fine 0.6s ease-in-out;
        animation: fine 0.6s ease-in-out;
    }





    /* QUARTA *//* QUARTA *//* QUARTA *//* QUARTA *//* QUARTA *//* QUARTA *//* QUARTA *//* QUARTA *//* QUARTA *//* QUARTA */
    .bg_anim_quarta {
        margin-top: -30px;
        width: 285px;
        height: 135px;
        background-size: 500px 500px;
        background-position: -18px -313px;
        -webkit-animation: fine 0.6s ease-in-out;
        -moz-animation: fine 0.6s ease-in-out;
        animation: fine 0.6s ease-in-out;
    }





    /* QUINTA *//* QUINTA *//* QUINTA *//* QUINTA *//* QUINTA *//* QUINTA *//* QUINTA *//* QUINTA *//* QUINTA *//* QUINTA */
    .bg_anim_quinta {
        margin-top: -30px;
        width: 285px;
        height: 135px;
        background-size: 500px 500px;
        background-position: -18px -313px;
        -webkit-animation: fine 0.6s ease-in-out;
        -moz-animation: fine 0.6s ease-in-out;
        animation: fine 0.6s ease-in-out;
    }





    /* FINE *//* FINE *//* FINE *//* FINE *//* FINE *//* FINE *//* FINE *//* FINE *//* FINE *//* FINE */
    .bg_anim_fine {
        margin-top: -30px;
        width: 285px;
        height: 135px;
        background-size: 500px 500px;
        background-position: -18px -313px;
        -webkit-animation: fine 0.6s ease-in-out;
        -moz-animation: fine 0.6s ease-in-out;
        animation: fine 0.6s ease-in-out;
    }




}









        