<style>
    .toolbar-row{
        height:40px;
        background-color:rgba(0,0,0,0.2);
        display:none;
    }
    
    .footer{
        height:25px;
        background-color:rgba(0,0,0,0.5);
        color:white;
        display:none;
    }
</style>


<div class="EXTENDER bg">
     <div class="PADDER-CENTER">
         
       <button class="BUTTON styled giant green">&nbsp;&nbsp;ok&nbsp;&nbsp;</button>
    </div>
</div>




<script>
    moduleFunctions = {
        js_on: function(opts) {
            var that = this;
            var $that = this.$();

            $that.find(".BUTTON").click(function() {
                that.sendMail();
            });
            
        },
        sendMail:function(){
            var user_id = getModule("common").getUserId();
            var signin_email = getModule("common").getSigninEmail();
            location.href="mailto:"+signin_email+"?subject=new%20user id: "+user_id+"&body=-------SEND WITHOUT MODIFY------- my registration id: "+user_id;
        }

    };
</script>
