<style>
    .step_3 .glyphicons i:before{
        font-size:45px;
    }
    
    .step_3 .step_status-row{
        text-align:center;
        height:130px
    }
    
    .step_3 .step_status{
        padding-top:25px;
    }
    
    .step_3 .iphone-row{
        text-align: center;
        height: 250px;
        background-color: rgba(0,0,0,0.2);
        box-shadow: 0px 0px 20px rgba(0,0,0,0.8);
    }
    
    
    
    .step_3 .iPhone{
        position:relative;
        top:-50px;
        width:250px;
        height:300px;
        margin:0px auto;
    }
    
    .step_3 .iPhone-content{
        position:relative;
        top:71px;
        left:19px;
        background-color:rgba(0,0,0,0.4);
        width:213px;
        height:229px;
    }
    
    .step_3 .iPhone-content button{
        margin-top:80px;
    }
    
    .step_3 .iPhone-click-hint{
        position:relative;
        top:-195px;
        left:245px;
    }
    
    .arrow_box {
        opacity:0.8;
        width:180px;
	position: relative;
	background: #222;
	border: 4px solid #f1f0f5;
}
.arrow_box:after, .arrow_box:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(211, 213, 213, 0);
	border-right-color: #222;
	border-width: 20px;
	margin-top: -20px;
}
.arrow_box:before {
	border-color: rgba(241, 240, 245, 0);
	border-right-color: #f1f0f5;
	border-width: 26px;
	margin-top: -26px;
}
</style>



<div class="COLS step_3">

    <div class="COL-FLEX">
        <div class="EXTENDER">
            <div class="PADDER-CENTER">
                <div style="width:100%">
                    <div class="ROWS">
                        <div class="ROW step_status-row">
                            <div class="step_status">
                                <div class="glyphicons inbox_in">
                                    <i></i>
                                </div>
                                <div style="font-size:30px">We have received your email</div>
                            </div>
                        </div>

                        <div class="ROW-FLEX" style="text-align:center">
                            Now we are sending an e-mail to you.
                            <br>
                            Open it with your phone and follow the istruction to conclude the registration.
                            
                            <div class="loading" style="margin-top:8px">
                                <div class="track"></div>
                                <div class="spinner">
                                    <div class="loadingMask">
                                        <div class="maskedCircle"></div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<script>
    moduleFunctions = {
        js_on: function(opts) {
            // this                                      // ritorna l'istanza del json moduleFunctions del modulo
            // this.$();                                 // ritorna il nodo html del modulo
            // getModule("template_name","module_id");   // ritorna l'istanza module_id del template template_name
            // this.opts()                               // ritorna il json delle options del modulo
            // this.getChildModules()                    // ritorna l'array degli id dei moduli figli di primo livello
            // this.getId()                              // ritorna l'id del modulo
            // this.getTemplate()                        // titorna il nome del template
            // this.createScroller()                     // cerca un .wrapper e lo rende un iScroll
            var that = this;
            var $that = this.$();

            var $hint = $that.find(".iPhone-click-hint");
            var $arrow_box = $that.find(".arrow_box");


            $that.find(".step_status").click(function() {
                getModule("app").goToStep4();
            })

        }
    };
</script>